<!--
Copyright 2018 ООО «Верме»
Страница списка заявок для клиента портала аутсорсинга.
-->

{% extends "base/page_content_w_search.html" %}
{% load static %}
{% load compress %}

{% block page-js %}
<script>
	var csrf_token = '{{ csrf_token }}'
	
</script>
	{% compress js %}
	<script src="{% static "js/datepicker_language_ru.js" %}" type="text/javascript"></script>

	<script src="{% static "js/pages/common/tables_l10n.js" %}" type="text/javascript"></script>
	<script src="{% static "js/pages/common/common_selectors.js" %}" type="text/javascript"></script>
	<script src="{% static "js/pages/common/table_reloader.js" %}" type="text/javascript"></script>
	<script src="{% static "js/pages/common/table_cell_values.js" %}" type="text/javascript"></script>
	
	<script src="{% static "js/pages/hq_requests_list/main.js" %}" type="text/javascript"></script>
	<script src="{% static "js/pages/hq_requests_list/tables.js" %}" type="text/javascript"></script>
	<script src="{% static "js/pages/hq_requests_list/event_handlers.js" %}" type="text/javascript"></script>
	{% endcompress %}

{% endblock page-js %}

{% block page-content-search %}
<div class="col-xl-8 order-2 order-xl-1">
	<div class="form-group m-form__group row align-items-center">
		<div class="col-md-3">
			<div class="m-form__group m-form__group--inline container">
				<div class="m-form__control">
					<select class="form-control m-bootstrap-select" id="status_select">
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="m-form__group m-form__group--inline container">
				<div class="m-form__control">
					<select class="form-control m-bootstrap-select" id='agency_select'>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock page-content-search %}
{% block page-content-body %}
	<!--begin: Datatable -->
	<div class="m_datatable" id="ajax_data"></div>
	<!--end: Datatable -->
{% endblock page-content-body %}
