<!--
Copyright 2019 ООО «Верме»
Страница подтверждения заявок.
-->

{% extends "base/page_content_w_search.html" %}
{% load static %}
{% load compress %}
{% block page-styles %}
<link rel="stylesheet" href="{% static "css/common/date_switcher.css" %}" type="text/css" />
<link rel="stylesheet" href="{% static "css/common/table_widget.css" %}" type="text/css" />
<link rel="stylesheet" href="{% static "frames/claims/css/loading-screen.css" %}" type="text/css" />
<link rel="stylesheet" href="{% static "css/pages/shifts_assign/shifts_assign.css" %}" type="text/css" />
<link rel="stylesheet" href="{% static "css/pages/shifts_confirm/shifts_confirm.css" %}" type="text/css" />
<link href="{% static "css/pages/shifts_confirm/shifts_confirm.css" %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block page-js %}
<script>
	page_main_widget = {components:[]}
</script>
<script>
	var request_id = {{ request_id }}
	var csrf_token = '{{ csrf_token }}'
	var outsource_enable = {% if outsource_enable %}true {% else %}false {% endif %}
	var outsourcing_request_state = '{{ outsourcing_request.state }}'
</script>
		{% compress js %}
<script src="{% static "js/outsource_requests.js" %}" type="text/javascript"></script>

<!-- зависимости от виджета смен -->
<script>Model = {}</script>

<script src="/static/js/plugins/throttle_debounce.js"></script>

<script src="/static/js/plugins/model/timezone.js"></script>
<script>Model.tz.currentServerUTCOffset = +'-10800000' || -3* Date.hour</script>
<script src="/static/js/plugins/model/objects/shift.js"></script>

<script src="{% static "js/pages/shifts_assign/components/shift_block.js" %}"></script>
<!-- конец зависимостей -->

<script src="{% static "js/pages/shifts_confirm/_shifts_confirm.js" %}"></script>
<script src="{% static "js/pages/shifts_confirm/event_handlers.js" %}"></script>
<script src="{% static "js/pages/shifts_confirm/ajaxes.js" %}"></script>
<script src="{% static "js/pages/shifts_confirm/generation.js" %}"></script>
		{% endcompress %}
<script>
	var are_shifts_readonly = {% if outsourcing_request.state == 'accepted' and request.page.party == 'agency' and outsource_enable %} false {% else %} true {% endif %}
</script>
{% endblock page-js %}

{% block page-content-header %}Заявка на персонал от
		{{ outsourcing_request.headquater.name }} /
		{{ outsourcing_request.organization.parent.name }} /
		{{ outsourcing_request.organization.name }}{% if outsourcing_request.organization.address %}<h3 class="m-portlet__head-text second-portlet-header">{{ outsourcing_request.organization.address }}</h3>{% endif %}
{% endblock page-content-header %}


{% block page-content-body %}
<div class="shift_confirm_nest"></div>
<script type="text/x-template" id="shift_confirm_template">
	<div>
		<div class="table-widget ver-flex-parent shift-assign-table shift-confirm-table" :class="isLoading ? 'loading' : ''"ref="widget-body" >
			<div class="head-butts" :style="{left: headButtsLeftCss}" >
			</div>
			<div class="tw-head ver-flex-child">
				<div class="tw-row hor-flex-parent table-header-row">
					<div class="tw-col-1 hor-flex-child">
						<div class="tw-col-1 hor-flex-child">
							<div class="empl-block hor-flex-parent">
								<div class="icon hor-flex-child">
									<i class="fa"></i>
								</div>
								<div class="name hor-flex-child-long">
									<span class="name-head">Магазин</span>
								</div>
							</div>
						</div>
					</div>
					<div class="tw-col-2 hor-flex-child-long" :style="{'padding-right': scrollFixPadding}">
						<vue-days-line
							:start_dtime="start_dtime"
							:zoom-mode="zoomMode"
						></vue-days-line>
					</div>
				</div>
			</div>
			<div class="tw-body-bg-day-cols" 
				v-if="blocks.length && !isLoading"
				:style="{height: bodyHeightCss, top: tableHeaderHeightCss}">
				<div class="tw-row hor-flex-parent">
					<div class="tw-col-1 hor-flex-child"></div>
					<div class="tw-col-2 hor-flex-child-long" :style="{'padding-right': scrollFixPadding}">
						<div class="tw-u-row hor-flex-parent" v-if="blocks[0].rows.length">
							<div 
								class="week hor-flex-child" 
								v-for="(week, week_index) in blocks[0].rows[0].urows[0].weeks" 
								:key="'head_'+ week_index"
								:style="{
									width: calcWeekWidth(week)
							}">
								<div class="day" 
									v-for="day in week" 
									:class="{
										'ver-flex-parent': zoomMode != 'month',
										'hor-flex-parent': zoomMode == 'month',
									}" 
									:style="{
										'width': day.cssWidth,
								}">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tw-body ver-flex-child-long" 
					ref="table_body"
					:style="{height: bodyHeightCss, maxHeight: bodyHeightCss}"
				>
				<div v-if="!blocks.length && !isLoading || (blocks.length && !blocks[0].rows.length)" class="empty-table-placeholder" v-text="settings.emptyTablePlaceholder"></div>
				<div v-if="!blocks.length && isLoading" class="empty-table-placeholder">
					<i class="fas fa-spinner fa-spin m--font-success" style="font-size: 24px"></i>
				</div>
				<div v-for="block in blocks" :key="block.id" v-if="!block.isHiddenByScrolling"><!--для блока-->
					<div class="tw-row hor-flex-parent row-separator" v-if="blocks.length > 1"> <!--заголовок блока-->
						<div class="tw-col-1 hor-flex-child"></div>
						<div class="tw-col-2 hor-flex-child-long" v-text="block.name"></div>
					</div>
					<div class="tw-row hor-flex-parent" 
						v-for="row in block.rows" 
						:key="row.code"
						v-if="!row.isHiddenByScrolling"
						> <!--для строки внутри блока-->
						<div class="tw-col-1 hor-flex-child">
							<div class="empl-block hor-flex-parent">
								<div class="icon hor-flex-child">
									<i class="fa" :class="row.area.icon ? ('fa-'+ row.area.icon) : 'fa-store'" :style="{color: row.area.color || 'black'}"></i>
								</div>
								<div class="name hor-flex-child-long">
									<span class="name-head" v-text="row.organization.name"></span>
									<br>
									<span class="name-captions">
										<!-- <span class="name-caption" v-for="c in row.captions" v-text="c.label" :style="{color: c.color}"></span> -->
										<span class="name-caption" v-text="row.area.name" :style="{color: row.area.color || 'black'}"></span>
									</span>
								</div>
								<div class="summ hor-flex-child">
									<div class="top-summ" :text-content.prop="row.shiftsDurationSumm | timeDeltaHM"></div>
								</div>
							</div>
						</div>
						<div class="tw-col-2 hor-flex-child-long">
							<div class="tw-u-row hor-flex-parent" 
								v-for="(urow, urow_index) in row.urows" 
								style="width: 100%"
								:key="urow.code"
								:class="{
									'first-urow': urow_index == 0,
									'mid-urow': urow_index != 0 &&  urow_index != (row.urows.length-1),
									'last-urow': urow_index == (row.urows.length-1),
								}"
								> <!--для подстроки внутри строки -->
								<div 
									class="week hor-flex-child" 
									v-for="(week, week_index) in urow.weeks" 
									:key="urow.code +'_'+ week_index"
									:style="{
										width: calcWeekWidth(week)
									}"
									>
									<div class="day" 
										v-for="day in week" 
										:key="urow.code +'_'+ day.code"
										:data-urow-code="urow.code"
										:data-day-code="day.code"
										:title="day.tooltip"
										:class="{
											'hor-flex-parent': zoomMode != 'month',
											'ver-flex-parent': zoomMode == 'month',
										}" 
										:style="{
											'width': day.cssWidth,
										}"
										>
										<sa-shift-block 
											v-for="shift in day.shifts"
											:day-shifts="day.shifts"
											:shift="shift"
											:month-day-width="monthDayWidth"
											:on-click="onShiftClick"
											:key="shift.id"
											:row="row"
											:zoom-mode="zoomMode"
											:comp-wrap="compWrap"
											:tooltip="day.tooltip"
										></sa-shift-block>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tw-footer ver-flex-child-long">
				<div class="tw-row hor-flex-parent footer-summ-row">
					<div class="tw-col-1 hor-flex-child">
						<div class="tw-col-1 hor-flex-child">
							<div class="empl-block hor-flex-parent">
								<div class="icon hor-flex-child">
									<i class="fa"></i>
								</div>
								<div class="name hor-flex-child-long">
									<span class="name-head"></span>
								</div>
								<div class="summ hor-flex-child">
									<div class="top-summ" :text-content.prop="totalDaysSumm | timeDeltaHM"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="tw-col-2 hor-flex-child-long hor-flex-parent" :style="{'padding-right': scrollFixPadding}">
						<div class="total-day-summ hor-flex-child-long"
							:style="{'width': summ.cssWidth}"
							v-for="summ in daySumms">
							<span :text-content.prop="summ.duration | timeDeltaHM"></span> /
							<span :text-content.prop="summ.count"></span>
						</div>
					</div>
				</div>
				<div class="tw-row table-header-row title-row">
					<div class="tips">
						<span class="status"><b>Состояние заявки:</b>
								{% if outsourcing_request.state == 'accepted' %}
									<div class="m-badge m-badge--danger m-badge--dot"></div>&nbsp;
									<span class="m--font-bold m--font-danger">Заявка получена</span>
								{% elif outsourcing_request.state == 'ready' %}
									<span class="m-badge m-badge--info m-badge--dot"></span>&nbsp;
									<span class="m--font-bold m--font-info">Заявка обработана</span>
								{% endif %}
						</span>
						<span class="start"><b>Начало обработки:</b> {{ outsourcing_request.dt_accepted }}</span>
						{% if outsourcing_request.dt_ready is not None %} 
							<span class="end"><b>Завершение обработки:</b> {{ outsourcing_request.dt_ready }}</span>
						{% endif %}
						<div class="legend" style="text-align: right; float: right">
							<div class="m-badge" style="background-color: #0abb87"></div>
							<span> подтверждено</span>
							<div class="m-badge" style="background-color: #fd397a"></div>
							<span> отклонено</span>
							<div class="m-badge" style="background-color: grey"></div>
							<span> удалено клиентом</span>
						</div>
					</div>
					{% if outsourcing_request.comments %}
						<div class="tips comment">
							<strong>Комментарий управляющего: </strong> {{ outsourcing_request.comments }}
						</div>
					{% endif %}
					{% if outsourcing_request.reject_reason %}
						<div class="tips comment">
							<strong>Причина отклонения: </strong> {{ outsourcing_request.reject_reason }}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="widget-footer">
			{% if outsourcing_request.state == 'accepted' and request.page.party == 'agency' and outsource_enable %}
			<button class="btn btn-primary btn-success" @click="confirmAction"> Подтвердить </button>
			<button class="btn btn-danger" @click="rejectAction"> Отклонить все </button>
			{% endif %}
			<button class="btn btn-secondary btn-outline" @click="backAction"> <i class="fa fa-history"></i> Назад </button>
		</div>
    <div class="modal fade" id="modal_reject_confirm"  role="dialog"style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<input type="hidden" name="job_history_id" id="modal_form_delete_job_history_id">
			<h5 class="modal-title">Причина отклонения</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			</div>
			<div class="modal-body">
				<div class="form-group m-form__group row">
					<label for="docs_list" class="col-2 col-form-label">Причина</label>
					<div class="col-10">
						<textarea name="reject_reason" data-required id="reject_reason" class="form-control m-input" type="text" rows="3"></textarea>
						<span id="reject_reason-help" class="m-form__help text-danger" style="display: none;"></span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-success" id="modal_reject_confirm_btn">Подтвердить</button>
			<button type="button" class="btn btn-secondary" id="modal_reject_cancel_btn" data-dismiss="modal">Отмена</button>
			</div>
		</div>
		</div>
	</div>
	</div>

</script>
{% endblock page-content-body %}