.custom-progressbar {
  position: relative;
  width: 100%;
  height: 36px;
  border: 1px solid #d9dde5;
  border-radius: 2px;
  overflow: hidden;
}
.custom-progressbar .bar {
  height: inherit;
  width: 0;
  background: #109a5e;
}
.custom-progressbar .done-total {
  position: absolute;
  right: 10px;
  top: 9px;
}