
<script>
	verme_docs_url = '{{ verme_docs_url }}'
	verme_login = '{{ verme_docs_login }}'
</script>
<script src="{{ verme_docs_url }}/static/front/doc_uploader/doc_uploader.js" type="text/javascript"></script>
<script src="{{ verme_docs_url }}/static/front/doc_uploader/doc_uploader_wrap.js" type="text/javascript"></script>

<link rel="stylesheet" href="{{ verme_docs_url }}/static/front/doc_uploader/doc_uploader.css" type="text/css" />
<link rel="stylesheet" href="{{ verme_docs_url }}/static/front/doc_uploader/fileicon.css" type="text/css" />
