.tabs__caption {
	height: 22px;
	line-height: 25px;
	list-style: none;
	border-bottom: 1px solid #DDD;
	background: #FFF;
	margin: 0px;
	padding-left: 0px;
}
.tabs__caption li {
	float: left;
	display: inline;
	margin: 0 1px -1px 0;
	padding: 0 13px;
	color: #777;
	cursor: pointer;
	background: #F9F9F9;
	border: 1px solid #E4E4E4;
	border-bottom: 1px solid #F9F9F9;
	position: relative;
}
.tabs__caption li:hover{
	color: #F70;
	padding: 0 13px;
	background: #FFFFDF;
	border: 1px solid #FFCA95;
}
.tabs__caption .active {
	color: #fff;
	background: #79aec8;
	padding: 0 13px 2px;
	border: 1px solid #D4D4D4;
	border-bottom: 0px solid #EFEFEF;
}
fieldset.module {
	display: none;
	border: 1px solid #D4D4D4;
	border-width: 0 1px 1px;
	background: #EFEFEF;
}
fieldset.module.active {
	display: block;
}
.inline-group {
	margin-bottom: 0px;
}